        <footer class="w-full flex justify-center items-center fixed bottom-0 bg-white z-10">
            <div class="text-xs font-normal text-slate-500">
                <p>Copyright © <%= new Date().getFullYear() %></p>
            </div>
        </footer>
    </body>
</html