        <footer>
            <div class="flex justify-center">
                <div class="text-xs font-normal text-slate-500">
                     <p>Copyright © <%= new Date().getFullYear() %></p>
                </div>
            </div>
        </footer>

    </body>
</html